################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ARtExplorer/FileContentIndex/357a29f8-456e-48de-8a9f-babd1f6cc2a9.vsidx
/.vs/ARtExplorer/FileContentIndex/6c1e7056-7fba-4c89-be7e-aa9c9a9fdd52.vsidx
/.vs/ARtExplorer/FileContentIndex/8738d0ee-899b-4433-87da-ae8f8f7fe18e.vsidx
/.vs/ARtExplorer/FileContentIndex/d21bda9c-a554-4a7f-af85-d1e2d2d7f16a.vsidx
/.vs/ARtExplorer/FileContentIndex/f169e8bf-4fd6-43ba-9c3e-04b0e70d757c.vsidx
