################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ARtExplorer/FileContentIndex/357a29f8-456e-48de-8a9f-babd1f6cc2a9.vsidx
/.vs/ARtExplorer/FileContentIndex/6c1e7056-7fba-4c89-be7e-aa9c9a9fdd52.vsidx
/.vs/ARtExplorer/FileContentIndex/8738d0ee-899b-4433-87da-ae8f8f7fe18e.vsidx
/.vs/ARtExplorer/FileContentIndex/d21bda9c-a554-4a7f-af85-d1e2d2d7f16a.vsidx
/.vs/ARtExplorer/FileContentIndex/f169e8bf-4fd6-43ba-9c3e-04b0e70d757c.vsidx
/.vs/ARtExplorer/FileContentIndex/1667e77e-1a70-49b1-b806-ed887eb839af.vsidx
/.vs/ARtExplorer/FileContentIndex/4652f48e-ff3d-494f-b716-a404ce30a3a0.vsidx
/.vs/ARtExplorer/FileContentIndex/c99d398f-9eed-4de6-b48b-4b5f204cbffd.vsidx
/.vs/ARtExplorer/FileContentIndex/6884bdbb-09b9-4bec-9cd7-c0b5f483b93d.vsidx
/.vs/ARtExplorer/FileContentIndex/9db535be-0de2-4583-ab25-760e9f2b4381.vsidx
/.vs/ARtExplorer/FileContentIndex/48a78ac8-0a3a-4d1a-b957-0864282e19e6.vsidx
/.vs/ARtExplorer/FileContentIndex/470917a4-dc0b-4635-8f11-2afd8a7ec498.vsidx
/.vs/ARtExplorer/FileContentIndex/a21a834a-1c01-4291-8065-53641831c24a.vsidx
