################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ARtExplorer/FileContentIndex/357a29f8-456e-48de-8a9f-babd1f6cc2a9.vsidx
/.vs/ARtExplorer/FileContentIndex/6c1e7056-7fba-4c89-be7e-aa9c9a9fdd52.vsidx
/.vs/ARtExplorer/FileContentIndex/8738d0ee-899b-4433-87da-ae8f8f7fe18e.vsidx
/.vs/ARtExplorer/FileContentIndex/d21bda9c-a554-4a7f-af85-d1e2d2d7f16a.vsidx
/.vs/ARtExplorer/FileContentIndex/f169e8bf-4fd6-43ba-9c3e-04b0e70d757c.vsidx
/.vs/ARtExplorer/FileContentIndex/1667e77e-1a70-49b1-b806-ed887eb839af.vsidx
/.vs/ARtExplorer/FileContentIndex/4652f48e-ff3d-494f-b716-a404ce30a3a0.vsidx
/.vs/ARtExplorer/FileContentIndex/c99d398f-9eed-4de6-b48b-4b5f204cbffd.vsidx
/.vs/ARtExplorer/FileContentIndex/6884bdbb-09b9-4bec-9cd7-c0b5f483b93d.vsidx
/.vs/ARtExplorer/FileContentIndex/9db535be-0de2-4583-ab25-760e9f2b4381.vsidx
/.vs/ARtExplorer/FileContentIndex/48a78ac8-0a3a-4d1a-b957-0864282e19e6.vsidx
/.vs/ARtExplorer/FileContentIndex/470917a4-dc0b-4635-8f11-2afd8a7ec498.vsidx
/.vs/ARtExplorer/FileContentIndex/a21a834a-1c01-4291-8065-53641831c24a.vsidx
/.vs/ARtExplorer/FileContentIndex/4e988e4a-090c-40ce-b18b-a32cb20f9be2.vsidx
/.vs/ARtExplorer/FileContentIndex/d48f7f2b-bf3e-4134-aaf4-6cb316f03504.vsidx
/.vs/ARtExplorer/FileContentIndex/7909eaa5-b8ca-4875-af7a-5072a793d836.vsidx
/.vs/ARtExplorer/FileContentIndex/39414c23-538b-4df1-a87a-05d47ab1c54f.vsidx
/.vs/ARtExplorer/FileContentIndex/b7346780-caec-4651-9b47-65d9d51ef7be.vsidx
/.vs/ARtExplorer/FileContentIndex/c27139a7-31e7-4cbf-8c12-69af779c0986.vsidx
/.vs/ARtExplorer/FileContentIndex/6216ca35-3d9f-47cc-9434-d2068999dc59.vsidx
/.vs/ARtExplorer/FileContentIndex/e8b62e11-6995-4722-b01e-3674a94758bd.vsidx
/.vs/ARtExplorer/FileContentIndex/e0e1be9d-b4ed-4c6d-8942-2e8595a50aa4.vsidx
/.vs/ARtExplorer/FileContentIndex/8db69d97-0a49-433f-af79-3efd792fa9ba.vsidx
/.vs/ARtExplorer/FileContentIndex/b0c20890-ec26-40d4-a037-1ec433f8ea1d.vsidx
/.vs/ARtExplorer/FileContentIndex/9e7701f3-cbc5-4151-bb3c-091c3590e904.vsidx
/.vs/ARtExplorer/FileContentIndex/b94734b5-52fd-4c04-808c-99021f879cc6.vsidx
/.vs/ARtExplorer/FileContentIndex/d238a7e3-f4a7-475f-aa7e-e57a4d2b1f64.vsidx
/.vs/ARtExplorer/FileContentIndex/bfb472a8-5aa5-480b-b628-e4e272e224c1.vsidx
/.vs/ARtExplorer/FileContentIndex/86aed238-01fd-4cec-8e29-ea60312c3120.vsidx
/.vs/ARtExplorer/FileContentIndex/277c462a-3985-4f66-b0bb-d070809a2bcf.vsidx
/.vs/ARtExplorer/FileContentIndex/86dfcc56-e69d-4475-b221-c2bb4b632e40.vsidx
/.vs/ARtExplorer/FileContentIndex/fccedd1f-b4a2-4946-92e1-02f3341cd933.vsidx
/.vs/ARtExplorer/FileContentIndex/bf98eaaa-a68d-4914-afe2-db50bf3cec3a.vsidx
/.vs/ARtExplorer/FileContentIndex/d991a2ba-98d8-4690-8038-96a237013dab.vsidx
/.vs/ARtExplorer/FileContentIndex/d6b05ead-b2a5-4df7-b8e9-6a4e723b4fc3.vsidx
/.vs/ARtExplorer/FileContentIndex/ff8193cb-562a-48ae-a767-07be5a56afed.vsidx
/.vs/ARtExplorer/FileContentIndex/7d4248b2-a1fe-4f14-9a49-dae12b6b0cbf.vsidx
/.vs/ARtExplorer/FileContentIndex/506a93cb-982d-4407-986f-048567aa30b3.vsidx
/.vs/ARtExplorer/FileContentIndex/8e4272de-27c4-48c2-830b-072f838eb274.vsidx
/.vs/ARtExplorer/FileContentIndex/24455f2a-0e1b-48b3-af21-6b500107e77e.vsidx
/.vs/ARtExplorer/FileContentIndex/117275d1-04b7-4d32-8922-4ef6b96df709.vsidx
/.vs/ARtExplorer/FileContentIndex/30f5839f-90f8-4f22-9a14-20510bab0f64.vsidx
/.vs/ARtExplorer/FileContentIndex/7ee8bc29-4da0-4474-b5a7-428c8b0dc25f.vsidx
/.vs/ARtExplorer/FileContentIndex/05a414cd-84ed-49b0-9f9d-7a57ea06f6b3.vsidx
/.vs/ARtExplorer/FileContentIndex/890b2cdf-5934-4f8c-9af9-2d7e6e34456b.vsidx
/.vs/ARtExplorer/FileContentIndex/2d9cde83-0314-4fc7-8449-09900e5696e9.vsidx
/.vs/ARtExplorer/FileContentIndex/3b024609-b2cb-404f-8370-1c34ef8ace2d.vsidx
/.vs/ARtExplorer/FileContentIndex/6c4fc8d7-ee90-4ae4-bf4c-f8545bf0139f.vsidx
/.vs/ARtExplorer/FileContentIndex/31a038b3-b0ad-4e17-be62-bcb39dcbeebf.vsidx
/.vs/ARtExplorer/FileContentIndex/e4f83f4e-4517-470f-8fb4-2a1d7dd21639.vsidx
/.vs/ARtExplorer/FileContentIndex/2dcf3a97-3e46-491c-aaa1-98887fb7b8a3.vsidx
/.vs/ARtExplorer/FileContentIndex/0c062e02-9443-43a0-8df2-2c0dd65c4b76.vsidx
/.vs/ARtExplorer/FileContentIndex/5c12101d-9051-4cc2-b90e-07972a3031d1.vsidx
/.vs/ARtExplorer/FileContentIndex/b735d695-b15e-45b1-bef1-eb8231154e29.vsidx
/.vs/ARtExplorer/FileContentIndex/b917ec77-0145-42c4-8efb-98e4d6b21012.vsidx
/.vs/ARtExplorer/FileContentIndex/01bb63f9-10b6-49ae-9fff-4e8d5370925c.vsidx
/.vs/ARtExplorer/FileContentIndex/5454526c-8c0a-4d7f-87e3-84e19159758a.vsidx
/.vs/ARtExplorer/FileContentIndex/e53d8481-85d1-4815-b1a3-7d8eba767bc3.vsidx
/.vs/ARtExplorer/FileContentIndex/f7ecdead-2c04-4565-86d7-c1345ca7fbec.vsidx
/.vs/ARtExplorer/FileContentIndex/fbd4ff78-e16a-4149-b3d9-11512a5febb7.vsidx
/.vs/ARtExplorer/FileContentIndex/f36c14bf-7f08-459f-936a-d5471cc2f408.vsidx
/.vs/ARtExplorer/FileContentIndex/6474daf9-515f-41cb-8a76-cd6e7d7f69aa.vsidx
/.vs/ARtExplorer/FileContentIndex/1bfd7df8-2bbc-41de-80ea-034194f2af94.vsidx
/.vs/ARtExplorer/FileContentIndex/5e622435-0df9-4972-8331-c4f380bc2c85.vsidx
/.vs/ARtExplorer/FileContentIndex/d5685a8e-7850-48d3-9568-dc451bdefbf0.vsidx
/.vs/ARtExplorer/FileContentIndex/2007ccfa-7b61-4482-91f1-84b60a03c47b.vsidx
/.vs/ARtExplorer/FileContentIndex/c0823290-55b1-40a6-ad2c-cc8e54c2d042.vsidx
/.vs/ARtExplorer/FileContentIndex/bdacf52b-38b8-43f2-8fe3-b2d1a06fd3ea.vsidx
/.vs/ARtExplorer/FileContentIndex/d44c9438-a0ec-4a91-8c83-503540fff360.vsidx
/.vs/ARtExplorer/FileContentIndex/fecb57b6-bb66-4c5e-8239-c258770a85b0.vsidx
/.vs/ARtExplorer/FileContentIndex/69b5bb04-6c94-4c19-b70e-3de0835ab5e9.vsidx
/.vs/ARtExplorer/FileContentIndex/53ed8701-65de-4972-a09e-645bd59d956a.vsidx
/.vs/ARtExplorer/FileContentIndex/57665242-adb7-42a8-aa75-45f2dae1c2b7.vsidx
/.vs/ARtExplorer/FileContentIndex/841035a8-29c9-4cc2-85a2-14e204370652.vsidx
/.vs/slnx.sqlite
